<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <h2>ユーザー登録画面</h2>
    <!-- コントローラーから渡されたerrorMsgを表示 -->
    <span th:text="${errorMsg}"></span>
</head>

<body>
    <!-- @はルートパスの指定したURLへアクセスする -->
    <!-- /loginにPOST送信し、loginFormオブジェクトとバインド -->
    <form th:action="@{/signup}" method="post" th:object="${signupForm}">
        <div>
            <label>ログインID</label>
            <!-- loginFormオブジェクトのlogin_Idとバインド -->
            <input type="text" th:field="*{loginId}">
        </div>
        <div>
            <label>パスワード</label>
            <!-- loginFormオブジェクトpasswordとバインド -->
            <input type="password" th:field="*{password}">
        </div>
        <div>
            <input type="submit" value="ユーザー登録">
        </div>
    </form>
</body>

</html>